<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add intent</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<h2>Add intent for {{bot.name}}</h2>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Intent" name="intent" required="">
    <br>
    <input type="text" placeholder="Entity name" name="e1">
    <input type="text" placeholder="Request response" name="e1r">
    <select name="e1t">
        <option value="text">Text</option>
        <option value="carousel">Carousel</option>
        <option value="Location">Location</option>
    </select>
    <br>
    <input type="text" placeholder="Entity name" name="e2">
    <input type="text" placeholder="Request response" name="e2r">
    <select name="e2t">
        <option value="text">Text</option>
        <option value="carousel">Carousel</option>
        <option value="Location">Location</option>

    </select>
    <br>
    <input type="text" placeholder="Entity name" name="e3">
    <input type="text" placeholder="Request response" name="e3r">
    <select name="e3t">
        <option value="text">Text</option>
        <option value="carousel">Carousel</option>
        <option value="Location">Location</option>
    </select>
    <br>
    <input type="text" placeholder="Entity name" name="e4">
    <input type="text" placeholder="Request response" name="e4r">
    <select name="e4t">
        <option value="text">Text</option>
        <option value="carousel">Carousel</option>
        <option value="Location">Location</option>
    </select>
    <br>
    <input type="text" placeholder="Entity name" name="e5">
    <input type="text" placeholder="Request response" name="e5r">
    <select name="e5t">
        <option value="text">Text</option>
        <option value="carousel">Carousel</option>
        <option value="Location">Location</option>
    </select>
    <br>
    <input type="text" placeholder="Response" name="response" required="">
    <select name="response_type">
        <option value="text">Text</option>
        <option value="carousel">Carousel</option>
        <option value="Location">Location</option>
    </select>
    <br>
    <input type="submit" value="Save"/>
</form>
</body>
</html>