<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit intent</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Intent" name="intent" required="">
    <br>
    <input type="text" placeholder="Entity name" name="e1">
    <input type="text" placeholder="Request response" name="e1r">
    <select name="e1t">
        <option value="text">Text</option><option value="carousel">Carousel</option><option value="Location">Location</option>
    </select>
    <br>
    <input type="text" placeholder="Entity name" name="e2">
    <input type="text" placeholder="Request response" name="e2r">
    <select name="e2t">
        <option value="text">Text</option><option value="carousel">Carousel</option><option value="Location">Location</option>
    </select>
    <br>
    <input type="text" placeholder="Entity name" name="e3">
    <input type="text" placeholder="Request response" name="e3r">
    <select name="e3t">
        <option value="text">Text</option><option value="carousel">Carousel</option><option value="Location">Location</option>
    </select>
    <br>
    <input type="text" placeholder="Entity name" name="e4">
    <input type="text" placeholder="Request response" name="e4r">
    <select name="e4t">
        <option value="text">Text</option><option value="carousel">Carousel</option><option value="Location">Location</option>
    </select>
    <br>
    <input type="text" placeholder="Entity name" name="e5">
    <input type="text" placeholder="Request response" name="e5r">
    <select name="e5t">
        <option value="text">Text</option><option value="carousel">Carousel</option><option value="Location">Location</option>
    </select>
    <br>
    <input type="text" placeholder="Response" name="response" required="">
    <select name="response_type">
        <option value="text">Text</option><option value="carousel">Carousel</option><option value="Location">Location</option>
    </select>
    <br>
    <input type="submit" value="Edit"/>
</form>
</body>
</html>