{% extends 'hero/layout.html' %}

{% block title %}
SETTING MODE
{% endblock %}

{% block header %}
SETTING MODE
{% endblock %}

{% block setting %}
special_link
{% endblock %}

{% block button_name %}
save changes
{% endblock %}

{% block button_link %}
training/
{% endblock %}

{% block content %}

<a href="add-intent/" class="ibox float-e-margins">
    <div class="ibox-title" style="background-color:#1C84C6;margin-bottom:20px">
        <h2><b style="color:white"><i class="fa fa-plus-square-o"></i>  Add intent</b>
        </h2>
    </div>
</a>

{% for intent in intent_list %}

<div class="ibox float-e-margins collapsed" style="margin-bottom:0px">

    <div class="ibox-title">
        <div style="display:inline;float:left;margin-right:20px"><h2><b>Intent</b></h2></div>
        <div class="input-group" style="width:60%;display:inline">
            <input disabled value="{{intent.text}}" type="text" placeholder="Intent" name="intent" class="form-control" style="width:60%;display:inline">
            <span class="input-group-btn" style="width:60%;display:inline">
                <button disabled type="button" class="btn btn-default"><i class="fa fa-bars"></i>
            </button>
            </span>
        </div>
        <div class="ibox-tools" style="float:right;margin-top:6px">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>

    <div class="ibox-content">
        <div class="flot-chart">
            {% for e in intent.entity.all %}
            <div class="col-xs-5 col-xs-offset-1">
                <div class="input-group">
                    <input disabled value="{{ e.text }}" type="text" placeholder="Entity name" name="e1" class="form-control">
                    <span class="input-group-btn">
                        <button disabled type="button" class="btn btn-default"><i class="fa fa-bars"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-xs-5">
                <div class="form-group form-inline">
                    <input disabled value="{{ e.response.text }}" type="text" placeholder="Request response" name="e1r" class="form-control" style="width:70%">
                    <select disabled name="e1t" class="form-control" style="width:29%">
                        <option>{{ e.response.type }}</option>
                    </select>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        <div style="height:32px">
            <div class="form-group form-inline"><label class="col-sm-2 control-label" style="margin-top:9px">Intent response</label>
                <div class="col-sm-10">
                    <input disabled value="{{ intent.response }}" type="text" class="form-control" placeholder="Response" name="response" required="" style="width:90%">
                    <select disabled name="response_type" class="form-control" style="width:9%">
                        <option>{{ intent.response.type }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}


<a href="training/"> Training </a>
<br>
Upload intent from CSV
<form action="" method="post" id="form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" accept="text/csv"/>
    <input type="submit" value="Submit"/>
</form>


{% endblock %}
