<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training Mode</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBbLf8k4NKQVXfjMg--POKkiQjHi2yuTxc",
            authDomain: "chathack-db0fb.firebaseapp.com",
            databaseURL: "https://chathack-db0fb.firebaseio.com",
            storageBucket: "chathack-db0fb.appspot.com",
            messagingSenderId: "1039260391551"
        };
        firebase.initializeApp(config);
    </script>

    <style type="text/css">
       body { background-color:rgb(235,235,235); }
    </style>

<body>
{{bot.name}}

<div class="container" id="main">
</div>

<script>
        function acceptMsg (intentText, intentCount, msg, threadId) {

              $.ajax({
                    type: 'POST',
                    url: "http://127.0.0.1:8888/admin/api/accept-intent/",
                    data:  JSON.stringify({
                        "intent_name": intentText,
                        "bot_name": "{{bot.name}}",
                        "msg": msg
                    }),
                    success: function(data, status){
                        console.log(data);
                        document.getElementById("selectEntity"+intentCount).innerHTML =
                        `
                        <label>require entity</label>
                        <div class="form-group">`;

                        for(var index in data) {
                            document.getElementById("selectEntity"+intentCount).innerHTML += `
                                <label name="entityLabel"><input class="form-control" type="text" value="${data[index]}">${index}</label>
                            `;
                        }

                        document.getElementById("selectEntity"+intentCount).innerHTML += `
                            </div>
                            <button type="button" class="btn btn-primary" onclick=acceptEntity("${intentText}","${intentCount}","${msg}","${threadId}")>Continue</button>
                        `;

                    },
                    error: function(){
                        console.log('error')
                    }
                });
        };


        function acceptEntity (intentText,intentCount,msg,threadId) {
            var s = $(`#selectEntity${intentCount} > [name='entityLabel']`);
            var entities = {}; // create an empty array

            function addResponse(responseText) {
            document.getElementById("response"+intentCount).innerHTML =
            `<div class="row">
                <div class="col-xs-8 col-xs-offset-4" style="background-color:white">
                    <div class="form-group">
                        <label>Response</label>
                        <input class="form-control" type="text" value="${responseText}">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Continue</button>
                    </div>
                </div>
            </div>`;
            }

            // get form data
            for (var letter of s) {
                entities[letter.innerText] = letter.children[0].value
            }

            $.ajax({
                type: 'POST',
                url: "http://127.0.0.1:8888/admin/api/accept-entities/",
                data:  JSON.stringify({
                    "entities": entities,
                    "msg": msg,
                    "threadId": threadId
                }),
                success: function(data, status){
                    console.log(data);
                    addResponse(data['response'])
                },
                error: function(){
                    console.log('error');
                }
            });
        }

        // an index of current message
        var intentCount = 0;

        // Retrieve Firebase Messaging object.
        const database = firebase.database();
        var msg = database.ref('{{bot.name}}');
        msg.on('value', function(snapshot) {
            if(snapshot.val()!=null){

                document.getElementById("main").innerHTML = document.getElementById("main").innerHTML +

                `<div id="main`+intentCount+`">
                    <div class="row">
                        <div class="col-xs-8" style="background-color:white">
                            <form>
                                <div class="form-group">
                                    <label>user says</label>
                                    <input class="form-control" type="text" value="`+snapshot.val().text+`">
                                </div>
                                <div class="form-group">
                                    <label>prevision = `+snapshot.val().intent.precision+`</label>
                                    <input class="form-control" type="text" value="`+snapshot.val().intent.text+`">
                                    <button type="button" class="btn btn-primary" onclick=acceptMsg("${snapshot.val().intent.text}","${intentCount}","${String(snapshot.val().text)}","${snapshot.val().threadId}")>Accept</button>
                                    <button class="btn btn-danger">Reject</button>
                                </div>
                            </form>
                            <div id="selectEntity`+intentCount+`"></div>
                        </div>
                    </div>

                    <div id="response`+intentCount+`"></div>


                    <hr>
                </div>
                `;


                intentCount++;
            }
        })
</script>
</body>
</html>