{% extends 'hero/layout.html' %}

{% block title %}
TRAINING MODE
{% endblock %}

{% block header %}
TRAINING MODE
{% endblock %}

{% block training %}
special_link
{% endblock %}

{% block button_name %}
end conversation
{% endblock %}

{% block button_onclick %}
finishSession()
{% endblock %}

{% block extra_script_head %}
<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>

<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBbLf8k4NKQVXfjMg--POKkiQjHi2yuTxc",
        authDomain: "chathack-db0fb.firebaseapp.com",
        databaseURL: "https://chathack-db0fb.firebaseio.com",
        storageBucket: "chathack-db0fb.appspot.com",
        messagingSenderId: "1039260391551"
    };
    firebase.initializeApp(config);
</script>
{% endblock %}

{% block content %}

<div class="container" id="main">
</div>

<script>
    // an index of current message
    var g_hackindex = 0;
    var g_threadId;
    var g_curRandId;

    function finishSession() {
        console.log(finishSession);
        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:8888/admin/api/finish-conversation/",
            data:  JSON.stringify({
                "threadId": g_threadId
            }),
            success: function(data, status){
                console.log('Finish Session!');
            },
            error: function(){
                console.log('error');
            }
        });
    }

    function continueResponse(msg) {
        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:8888/admin/api/continue-response/",
            data:  JSON.stringify({
                "msg": msg,
                "threadId": g_threadId
            }),
            success: function(data, status){
                console.log(data);
            },
            error: function(){
                console.log('error');
            }
        });
    }

    function addResponse(responseText) {
        g_curRandId = Math.random()
        document.getElementById("response-"+g_hackindex).innerHTML =

            `<div class="row">
                <div class="col-xs-8 col-xs-offset-4" style="background-color:white">
                    <div class="form-group">
                        <label>Response</label>
                        <input class="form-control" type="text" value="${responseText}">
                    </div>
                    <div class="form-group">
                        <button id=${g_curRandId} class="btn btn-primary")>
                            Continue
                        </button>
                    </div>
                </div>
            </div>`;

        $(`#${g_curRandId}`).click(continueResponse(responseText));
    }

    function addEntityPredictionToIntent(intentText, msg, data) {
        document.getElementById(`selectEntity-${g_hackindex}`).innerHTML =

        `<label>Required Entity</label>
        <div class="form-group">`;

        for(var index in data) {
            document.getElementById("selectEntity-"+g_hackindex).innerHTML += `
                <label name="entityLabel"><input class="form-control" type="text" value="${data[index]}">${index}</label> `;
        }

        document.getElementById("selectEntity-"+g_hackindex).innerHTML += `
            </div>
            <button type="button" class="btn btn-primary"
            onclick=acceptEntity("${msg}")>Continue</button> `;
    }

    function addIntentOptions(msg, intents) {
        document.getElementById(`selectEntity-${g_hackindex}`).innerHTML =
        `<label>Select Intents</label>
            <div class="form-group">
                <select id="thehackest" name="intents">`


        for(var i in intents) {
            document.getElementById("thehackest").innerHTML += `<option value="${i}">${i}</option>`;
        }

        document.getElementById("selectEntity-"+g_hackindex).innerHTML += `
            </select>
            </div>
            <button type="button" class="btn btn-primary"
            onclick=acceptIntent("${$('select[name=intents]').val()}","${msg}")>Select this intent</button>
            <button type="button" class="btn btn-primary"
            onclick=addNewIntent("${msg}")>Add New Intent</button> `;
    }

    function rejectIntent(intentText, msg) {
        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:8888/admin/api/reject-intent/",
            data:  JSON.stringify({
                "intent_name": intentText,
                "bot_name": "{{bot.name}}",
                "threadId": g_threadId,
                "msg": msg
            }),
            success: function(data, status){
                console.log(data);
                $(`#firstIntent-${g_hackindex}`).css('text-decoration', 'line-through');
                $(`#acceptIntentButton-${g_hackindex}`).hide();
                $(`#rejectIntentButton-${g_hackindex}`).hide();
                addIntentOptions(msg, data.intents)
            },
            error: function(){
                console.log('error')
            }
        });
    }

    function acceptIntent(intentText, msg) {
        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:8888/admin/api/accept-intent/",
            data:  JSON.stringify({
                "intent_name": intentText,
                "bot_name": "{{bot.name}}",
                "msg": msg
            }),
            success: function(data, status){
                console.log(data);
                addEntityPredictionToIntent(intentText, msg, data)
            },
            error: function(){
                console.log('error')
            }
        });
    };

    function acceptEntity (msg) {
        var s = $(`#selectEntity-${g_hackindex} > [name='entityLabel']`);
        var entities = {}; // create an empty array

        const randid = Math.random();

        // get form data
        for (var letter of s) {
            entities[letter.innerText] = letter.children[0].value
        }

        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:8888/admin/api/accept-entities/",
            data:  JSON.stringify({
                "entities": entities,
                "msg": msg,
                "threadId": g_threadId
            }),
            success: function(data, status){
                console.log(data);
                addResponse(data['response'])
            },
            error: function(){
                console.log('error');
            }
        });
    }

    function addMsgWithIntentPrediction(msg, intent) {
        g_hackindex++
        document.getElementById("main").innerHTML = document.getElementById("main").innerHTML +






           `
           <div class="btn btn-success">User says:</div>
           <div class="row">
                <div class="col-xs-8" style="background-color:white">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" value="${msg}">
                        </div>
                        <div class="form-group">
                            <label>precision = ${intent.precision}</label>
                            <input id="firstIntent-${g_hackindex}" class="form-control" type="text" value="${intent.text}">
                            <button id="acceptIntentButton-${g_hackindex}" type="button" class="btn btn-primary" onclick=acceptIntent("${intent.text}","${String(msg)}")>Accept</button>
                            <button id="rejectIntentButton-${g_hackindex}" type="button" class="btn btn-danger" onclick=rejectIntent("${intent.text}","${String(msg)}")>Reject</button>
                        </div>
                    </form>
                    <div id="selectEntity-${g_hackindex}"></div>
                </div>
            </div>

            <div id="response-${g_hackindex}"></div>
            <hr>
        `;
    }

    function addMsgWithEntityPrediction(msg, intent, entity) {
        g_hackindex++
        document.getElementById("main").innerHTML = document.getElementById("main").innerHTML +

        ` <div class="row">
                <div class="col-xs-8" style="background-color:white">
                    <form>
                        <div class="form-group">
                            <label>User says</label>
                            <input class="form-control" type="text" value="${msg}">
                        </div>
                        <div class="form-group">
                            <label>Precision = ${intent.precision}</label>
                            <input class="form-control" type="text" value="${intent.text}">
                            <label>Entity: ${entity.name}</label>
                            <input class="form-control" type="text" value="${entity.value}">
                            <button type="button" class="btn btn-primary" onclick=acceptEntity("${intent.text}","${String(msg)}")>Accept</button>
                        </div>
                    </form>
                    <div id="selectEntity-${g_hackindex}"></div>
                </div>
            </div>

            <div id="response-${g_hackindex}"></div>

            <hr>
        `;
    }

    // Retrieve Firebase Messaging object.
    const database = firebase.database();
    var msg = database.ref('{{bot.name}}');
    msg.on('value', function(snapshot) {
        if(snapshot.val()!=null){
            var msg = snapshot.val().text;
            var threadId = snapshot.val().threadId;
            var intent = snapshot.val().intent;
            var entity = snapshot.val().entity;

            g_threadId = threadId;

            if (entity) {
                addMsgWithEntityPrediction(msg, intent, entity)
            } else if (intent) {
                addMsgWithIntentPrediction(msg, intent)
            }
        }
    })

</script>

{% endblock %}