<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training Mode</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBbLf8k4NKQVXfjMg--POKkiQjHi2yuTxc",
            authDomain: "chathack-db0fb.firebaseapp.com",
            databaseURL: "https://chathack-db0fb.firebaseio.com",
            storageBucket: "chathack-db0fb.appspot.com",
            messagingSenderId: "1039260391551"
        };
        firebase.initializeApp(config);
    </script>

    <style type="text/css">
       body { background-color:rgb(235,235,235); }
    </style>

<body>
{{bot.name}}

<button class="btn btn-danger" onclick=finishSession()>Finish Conversation</button>

<div class="container" id="main">
</div>

<script>
    // an index of current message
    var g_hackindex = 0;
    var g_threadId;
    var g_curRandId;

    function finishSession() {
        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:8888/admin/api/finish-conversation/",
            data:  JSON.stringify({
                "threadId": g_threadId
            }),
            success: function(data, status){
                console.log('Finish Session!');
            },
            error: function(){
                console.log('error');
            }
        });
    }

    function continueResponse(msg) {
        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:8888/admin/api/continue-response/",
            data:  JSON.stringify({
                "msg": msg,
                "threadId": g_threadId
            }),
            success: function(data, status){
                console.log(data);
            },
            error: function(){
                console.log('error');
            }
        });
    }

    function addResponse(responseText) {
        console.log(g_hackindex)
        g_curRandId = Math.random()
        document.getElementById("response-"+g_hackindex).innerHTML =
            `<div class="row">
                <div class="col-xs-8 col-xs-offset-4" style="background-color:white">
                    <div class="form-group">
                        <label>Response</label>
                        <input class="form-control" type="text" value="${responseText}">
                    </div>
                    <div class="form-group">
                        <button id=${g_curRandId} class="btn btn-primary")>
                            Continue
                        </button>
                    </div>
                </div>
            </div>`;

        $(`#${g_curRandId}`).click(continueResponse(responseText));
    }

    function addEntityPredictionToIntent(intentText, msg, data) {
        document.getElementById(`selectEntity-${g_hackindex}`).innerHTML =

        `<label>Required Entity</label>
        <div class="form-group">`;

        for(var index in data) {
            document.getElementById("selectEntity-"+g_hackindex).innerHTML += `
                <label name="entityLabel"><input class="form-control" type="text" value="${data[index]}">${index}</label> `;
        }

        document.getElementById("selectEntity-"+g_hackindex).innerHTML += `
            </div>
            <button type="button" class="btn btn-primary" 
            onclick=acceptEntity("${msg}")>Continue</button> `;
    }

    function acceptIntent(intentText, msg) {
        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:8888/admin/api/accept-intent/",
            data:  JSON.stringify({
                "intent_name": intentText,
                "bot_name": "{{bot.name}}",
                "msg": msg
            }),
            success: function(data, status){
                console.log(data);
                addEntityPredictionToIntent(intentText, msg, data)
            },
            error: function(){
                console.log('error')
            }
        });
    };

    function acceptEntity (msg) {
        var s = $(`#selectEntity-${g_hackindex} > [name='entityLabel']`);
        var entities = {}; // create an empty array

        const randid = Math.random();

        // get form data
        for (var letter of s) {
            entities[letter.innerText] = letter.children[0].value
        }

        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:8888/admin/api/accept-entities/",
            data:  JSON.stringify({
                "entities": entities,
                "msg": msg,
                "threadId": g_threadId
            }),
            success: function(data, status){
                console.log(data);
                addResponse(data['response'])
            },
            error: function(){
                console.log('error');
            }
        });
    }

    function addMsgWithIntentPrediction(msg, intent) {
        g_hackindex++
        document.getElementById("main").innerHTML = document.getElementById("main").innerHTML +

        ` <div class="row">
                <div class="col-xs-8" style="background-color:white">
                    <form>
                        <div class="form-group">
                            <label>User says</label>
                            <input class="form-control" type="text" value="${msg}">
                        </div>
                        <div class="form-group">
                            <label>precision = ${intent.precision}</label>
                            <input class="form-control" type="text" value="${intent.text}">
                            <button type="button" class="btn btn-primary" onclick=acceptIntent("${intent.text}","${String(msg)}")>Accept</button>
                            <button class="btn btn-danger">Reject</button>
                        </div>
                    </form>
                    <div id="selectEntity-${g_hackindex}"></div>
                </div>
            </div>

            <div id="response-${g_hackindex}"></div>
            <hr>
        `;
    }

    function addMsgWithEntityPrediction(msg, intent, entity) {
        g_hackindex++
        document.getElementById("main").innerHTML = document.getElementById("main").innerHTML +

        ` <div class="row">
                <div class="col-xs-8" style="background-color:white">
                    <form>
                        <div class="form-group">
                            <label>User says</label>
                            <input class="form-control" type="text" value="${msg}">
                        </div>
                        <div class="form-group">
                            <label>Precision = ${intent.precision}</label>
                            <input class="form-control" type="text" value="${intent.text}">
                            <label>Entity: ${entity.name}</label>
                            <input class="form-control" type="text" value="${entity.value}">
                            <button type="button" class="btn btn-primary" onclick=acceptEntity("${intent.text}","${String(msg)}")>Accept</button>
                        </div>
                    </form>
                    <div id="selectEntity-${g_hackindex}"></div>
                </div>
            </div>

            <div id="response-${g_hackindex}"></div>

            <hr>
        `;
    }

    // Retrieve Firebase Messaging object.
    const database = firebase.database();
    var msg = database.ref('{{bot.name}}');
    msg.on('value', function(snapshot) {
        if(snapshot.val()!=null){
            var msg = snapshot.val().text;
            var threadId = snapshot.val().threadId;
            var intent = snapshot.val().intent;
            var entity = snapshot.val().entity;

            g_threadId = threadId;

            if (entity) {
                addMsgWithEntityPrediction(msg, intent, entity)
            } else if (intent) {
                addMsgWithIntentPrediction(msg, intent)
            }
        }
    })
</script>
</body>
</html>